tei-teiheader {
	display: none;
}
tei-p,tei-ab {
	display: block;
}
tei-reg {
	display: none;
}
tei-rdg {
	display: none;
}
tei-lb::before {
	white-space: pre;
	content: "\A";
}
tei-unclear::after { 
	content: '';
}

/*tei-supplied::before {
	content: '[';
}

tei-supplied::after {
	content: ']';	
}
*/
