tei-teiheader {
  display: none;
}
tei-div {
  display: block;
}
tei-div[type=edition] {
  font-family: "Lucida Grande", "Cardo", "Arial Unicode MS";
  margin-left: 4em;
}
h2.textpart {
  margin-left: -2em;
  margin-top: 0;
  margin-bottom: 0;
}
span.linenum {
  float:left;
  margin-left: -2em;
}
tei-p,tei-ab {
  display:block;
}
tei-choice tei-reg {
  display: none;
}
tei-gap[reason=lost]:before {
    content: '[ ... ] ';
}
tei-rdg {
  display: none;
}
tei-lb:before {
  white-space: pre;
  content: '\A';
}
tei-lb[break=no]:before {
  white-space: pre;
  content: '-\A';
}
tei-supplied[reason=lost]:before {
  content: '[';
}
tei-supplied[reason=lost]:after {
  content: ']';
}

